.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  padding: 56px 70px;
  height: 154px;
  box-sizing: border-box;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;

  margin-left: 60px;
}

.right {
  margin-left: auto;
}



.item {
  margin: 0 auto;
  max-width: 860px;
    width: 100%;
}

.footer {
  height: 89px;
  border-top: 1px solid #d58c51;
  margin: 0 3.5px;
  margin-top: auto;
}

.footer_inner {
  max-width: 860px;
  display: flex;
  margin: 0 auto;
  padding: 24px;
  align-items: center;
}

.footer_text {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer_price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d58c51;
  margin-left: 16px;
}


.main {
    overflow-y: scroll;
}