.container {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 122px;
  height: 122px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}


.right {
    display: flex;
    /* margin-left: auto; */
    gap: 21px;
    align-items: center;
    
}