.btn {
  padding: 12px 75px;
  border: 1px solid #d58c51;
  cursor: pointer;
  height: 42px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #d58c51;
  background: transparent;
}

.btn:active {
    transform: scale(0.98);
}

.fill {
  background: #d58c51;
  color: #131313;
}
