.header {
  display: flex;
  padding: 54px 70px;
  justify-content: space-between;
}

.header_text {
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
