.card {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  border: 1px solid #d58c51;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.img {
    /* width: 270px; */
    /* height: 270px; */
}

.card:hover span {
    color: #D58C51;
}

.card span {
    color: #FFF;
  transition: color .275s ease;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-top: 31px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 13px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}

.amount {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.divider {
    margin: 0 4px;
}
