.container {
  width: 100vw;
  height: 100vh;
  background: url('./product-bg.png');
  background-size: cover;
}

.header {
  display: flex;
  padding: 70px 50px;
  height: 190px;
  box-sizing: border-box;
}

.header_right {
  margin-left: auto;
}

.title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;

  color: #d58c51;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 528px;
  display: block;

  color: #ffffff;
}



.main {
  height: calc(100% - 190px);
  display: flex;
  justify-content: space-between;
  padding-left: 142px;
  padding-right: 70px;
  align-items: center;
}

.main_img {
  max-height: 500px;
  max-width: 500px;
  width: auto;
  height: 100%;
}

.main_text {
  margin-left: 32px;
}

.buttons {
  margin-top: 50px;
  display: flex;
}

.amount {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #ffffff;
}
.price_divider {
  margin: 0 4px;
}

.basket_btn_wrapper {
    margin-left: 130px;
}