.button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
    cursor: pointer;
    transition: all .275s ease;
}

.button:hover {
    background: #D58C51;
    border-color: #D58C51;
}

.orange {
    border-color: #D58C51;
}

.orange:hover {
    border-color: #fff;
    background-color: #fff;
}