
.header_right {
    margin-left: auto;
    display: flex;
    gap: 22px;
  }

  .counter {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
  
    color: #ffffff;
  }