.app {
    background: #161516;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.cards {
    display: flex;
    padding: 70px;
    gap: 20px;
    flex-wrap: wrap;
}

.cards__wrapper {
    flex: 1 1;
    max-width: 25%;
}



*,
html {
    font-family: 'Roboto';
}

body {
    background: #161516;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}